<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout2.html::dynamic(~{::title}, ~{::body})}">
<head>

<title>Solana Personal</title>
<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body btn">
						<h5 class="card-title">
							<i class="fa-brands fa-paypal"></i> Get the Solana Pay App
						</h5>
						<p class="card-text">Start doing more with Solana.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="card"
							style="width: 12rem; color: white; height: 22rem; background-color: #0c31ea;">
							<div class="card-body btn">
								<img class="container"
									src="https://www.paypalobjects.com/consumeronboarding/images/new-ux/activation-module/nux-p2p-send-mobile.png"
									data-test-id="img" width="300px" height="80px" alt="">
								<hr>
								<h5 class="card-title">
									<strong>Send Money</strong>
								</h5>
								<p class="card-text">Pay someone, buy something, or give a
									gift</p>
								<br> <a href="#"
									style="border-radius: 10px; border-color: white; color: white; height: 4rem; background-color: white;"
									class="card-link btn btn-ouline-secondary"><strong
									style="color: #003399;">Send Now</strong> </a>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card"
							style="width: 12rem; color: white; height: 22rem; background-color: #330066;">
							<div class="card-body btn">
								<img class="container"
									src="https://www.paypalobjects.com/consumeronboarding/images/new-ux/activation-module/nux-p2p-request-mobile.png"
									data-test-id="img" width="300px" height="80px" alt="">
								<hr>
								<h5 class="card-title">
									<strong>Request Money</strong>
								</h5>
								<p class="card-text">Ask a friend to pay you back-the
									friendly way.</p>
								<br> <a href="#"
									style="border-radius: 10px; border-color: white; color: white; height: 4rem; background-color: white;"
									class="card-link btn btn-ouline-success"><strong
									style="color: #003399;">Send a Request </strong> </a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card"
							style="width: 12rem; color: white; height: 22rem; background-color: #CC33FF;">
							<div class="card-body btn">
								<img class="container"
									src="https://www.paypalobjects.com/consumeronboarding/images/new-ux/activation-module/nux-add-payment-method-mobile.png"
									data-test-id="img" width="300px" height="80px" alt="">
								<hr>
								<h5 class="card-title">
									<strong>Add a card to shop the world</strong>
								</h5>
								<p class="card-text">Buy with confidence with your card info
									secure.</p>

								<a href="#"
									style="border-radius: 10px; border-color: white; color: white; background-color: white;"
									class="card-link btn btn-ouline-success container"><strong
									style="color: #003399;">Add to your Wallet </strong> </a>
							</div>
						</div>
					</div>

				</div>
				<br>
				<div class="container card">
					<div class="row">

						<div class="col">
							<h4>
								<a style="color: black;" href="#"><strong>PayPal
										balance </strong></a>
							</h4>
							<br>
							<h2>
								<strong>$0.00</strong>
							</h2>
							<h6>Available</h6>
							<a href="#"
								style="border-radius: 10px; border-color: white; color: white;"
								class="card-link btn bg-primary"><strong>Transfer
									Funds </strong> </a>
						</div>

						<br>
						<div class="col-sm-2 dropdown">
							<a class="btn btn-secondary " href="#" role="button"
								id="dropdownMenuLink" data-bs-toggle="dropdown"
								aria-expanded="false"><i
								class="fa-solid fa-ellipsis-vertical"></i> </a>

							<ul class="dropdown-menu justify-content-end "
								aria-labelledby="dropdownMenuLink">
								<li><a class="dropdown-item" href="#">Go to PayPal
										balance</a></li>
								<li><a class="dropdown-item" href="#">Manage currencies</a></li>
								<li><a class="dropdown-item" href="#">Get help</a></li>

							</ul>
						</div>
					</div>
				</div>
				<br>
				<div class="container-fluid card ">
					<div class="card-body">
						<h5 class="card-title">Recent activity</h5>
						<h5>See when money comes in, and when it goes out. You’ll
							find your recent PayPal activity here</h5>
					</div>
				</div>

			</div>
			<div class="col">
				<div class="card" style="width: 40rem; height: 50.5rem">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<a href="#" class="card-link btn btn-outline-primary"><strong>Cards</strong>
								</a>
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-2 dropdown">
								<a class="btn btn-secondary justify-content-end" href="#"
									role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
									aria-expanded="false"><i
									class="fa-solid fa-ellipsis-vertical"></i> </a>

								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="#">Go to Cards</a></li>
									<li><a class="dropdown-item" href="#">Go to Help</a></li>

								</ul>
							</div>
						</div>

						<p class="card-text">
							<strong>Shop and send payments more securely. Link your
								credit card now.</strong>
						</p>
						<a href="#" class="card-link btn btn-outline-primary"><strong>Link
								a card</strong></a>


					</div>
				</div>
			</div>

		</div>
	</div>


</body>
</html>